* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fieldWidth: 0;
    --fieldHeight: 0;
}

@media screen and (max-width: 800px) {
    .fieldHeight,
    .fieldWidth,
    .deck,
    .restart-button,
    .leader {
        margin-top: 1px;
        margin-left: 1px;
        height: 3px;
        border: 1px solid #ccc;
        font-size: 2px;
        border-radius: 5px;
        box-shadow: 1px 1px 2px #999;
        background: #ffe4c4;
        display: inline-block;
    }

    .card {
        width: calc(80vw/var(--fieldWidth));
        height: calc(70vh/var(--fieldHeight));
        margin: 1%;
        transform: scale(1);
        position: relative;
        transition: transform 0.5s;
        transform-style: preserve-3d;
    }

    .wrapper {
        height: calc(70vh - 41px);
        display: flex;
        /*background-color: #2a5f3a;*/
    }
}


.fieldHeight,
.fieldWidth,
.deck,
.restart-button,
.leader {
    margin-top: 10px;
    margin-left: 5px;
    height: 30px;
    border: 1px solid #ccc;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #999;
    background: #ffe4c4;
}

.leader {
    width: 150px;
}

.restart-button {
    width: 100px;
}

.restart-button:active {
    transform: scale(0.97);
    transition: transform 0.2s;
}

.wrapper {
    height: calc(100vh - 41px);
    display: flex;
    /*background-color: #2a5f3a;*/
}

.timer,
.score {
    padding-right: 5px;
    text-align: right;
    background: #ffe4c4;
    border-color: black;
    border-radius: 5px;
    position: absolute;
    color: black;
    top: 60px;
    font-size:30px;
    z-index: 2;
}

.timer {
    width: 83px;
    left: 20px;
}

.score {
    text-align: right;
    width: 45px;
    right: 40px;
}

.memoryGame {
    height: 90%;
    width: calc(calc((100vh)*var(--fieldWidth)*0.8)/calc(var(--fieldHeight)));
    /*width: 55%;*/
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    perspective: 1000px;
}

.card {
    width: calc(100%/var(--fieldWidth) - 2%);
    height: calc(100%/var(--fieldHeight) - 2%);
    margin: 1%;
    transform: scale(1);
    position: relative;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.card.flip {
    transform: rotateY(180deg);
}

.card:active {
    transform: scale(0.97);
    transition: transform 0.2s;
}

.face,
.back {
    width: 100%;
    height: 100%;
    padding: 5%;
    position: absolute;
    border-radius: 5%;
    background-color: black;
    backface-visibility: hidden;
}

.face {
    transform: rotateY(180deg);
}

html {
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}