* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fieldWidth: 0;
    --fieldHeight: 0;
}

.wrapper {
    height: calc(100vh - 20px);
    display: flex;
    /*background-color: #2a5f3a;*/
}

.wrapper .timer {
    background: white;
    border: white;
    border-radius: 10%;
    width: 60px;
    position: absolute;
    color: black;
    left: 20px;
    top: 40px;
    font-size:30px;
    z-index: 2;
}

.wrapper .score {
    background: white;
    border: white;
    border-radius: 10%;
    width: 70px;
    position: absolute;
    color: black;
    right: 40px;
    top: 40px;
    font-size:30px;
    z-index: 2;
}

.memoryGame {
    height: 90%;
    width: calc(calc((100vh)*var(--fieldWidth)*0.8)/calc(var(--fieldHeight)));
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    perspective: 1000px;
}

.card {
    width: calc(100%/var(--fieldWidth) - 2%);
    height: calc(100%/var(--fieldHeight) - 2%);
    margin: 1%;
    transform: scale(1);
    position: relative;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.card.flip {
    transform: rotateY(180deg);
}

.card:active {
    transform: scale(0.97);
    transition: transform 0.2s;
}

.face,
.back {
    width: 100%;
    height: 100%;
    padding: 5%;
    position: absolute;
    border-radius: 5%;
    background-color: white;
    backface-visibility: hidden;
}

.face {
    transform: rotateY(180deg);
}

html {
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}