<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LeaderBoard</title>
    <link rel="stylesheet" href="leaderboard.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
<a href="/"><button class="back">Back to game</button></a>

<table border="4" bordercolor="#000000" cellspacing="0" cellpadding="10">

    <thead>
    <tr>
        <th scope="col">Place</th>
        <th scope="col">Name</th>
        <th scope="col">Score</th>
    </tr>
    </thead>

    <tbody>
    {{#each userScores}}
    <tr>
        <td> {{place}} </td>
        <td> {{user}} </td>
        <td> {{score}} </td>
    </tr>
    {{/each}}
    </tbody>

</table>

</body>
</html>